<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 my-3">
            <!-- <h4 class="d-inline"> Delivery Note </h4> -->
            <h3 class="d-inline"><i class="fa-sharp fa-solid fa-nfc-slash"></i>Order Cancel
            </h3>
        </div>
    </div>

</div>


<div class="container-fluid c1 py-3 ">

    <div class="row">
        <h5>ORDER INFORMATION:</h5>
        <div class=" col-sm-12  col-md-4 " style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">ORDER NO:</label>
            <input type="text" class="form-control" placeholder="enter order no">
        </div>

        <div class=" col-sm-12  col-md-4 " style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">CUSTOMER NAME:</label>
            <input type="text" class="form-control" placeholder="enter customer name">
        </div>
        <div class="col-sm-12 col-md-4 " style="line-height: 2rem;">
            <label class="" for="specificSizeSelect"> DATE :</label>
            <input type="date" class="form-control" placeholder="Date">
        </div>

    </div>
</div>




<div class="container-fluid c1 py-3 ">

    <div class="row">
        <h5>PRODUCT DETAIL:</h5>
        <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">ITEM NO.:</label>
            <input type="text" class="form-control" placeholder="#5412">
        </div>
        <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">


            <label class="" for="specificSizeSelect">NAME OF ITEM:</label>
            <select class="form-select" id="specificSizeSelect">
                <option selected>Item 1</option>
                <option value="1">Item 2</option>
                <option value="2">Item 3</option>
                <option value="3">Item 4</option>
            </select>

        </div>
       
       

        <div class="  col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">QUANTITY:</label>
            <input type="text" class="form-control" placeholder=" Enter Quantity">
        </div>
        <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">PRICE:</label>
            <input type="text" class="form-control" placeholder="20 $">
        </div>
        <div class="  col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">AMOUNT:</label>
            <input type="text" class="form-control" placeholder="Quantity*PRICE">
        </div>

      

        <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">DISCOUNT:</label>
            <input type="text" class="form-control" placeholder="20 $">
        </div>

        <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">TAX:</label>
            <input type="text" class="form-control" placeholder="20 $">
        </div>

        <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">TOTAL:</label>
            <input type="text" class="form-control" placeholder="20 $">
        </div>



        <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button">Order Approved</button>
            <button class="btn btn-primary" type="button">Cancel</button>
        </div> -->
    </div>
</div>

<div class="container-fluid c1 py-3 ">
<h5>REASON FOR CANCELLATION:</h5>
    <div class="row">
        <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">


            <label class="" for="specificSizeSelect">REASON FOR CANCELLATION:</label>
            <select class="form-select" id="specificSizeSelect">
                <option selected>Customer Request</option>
                <option value="1">Out of Stock</option>
                <option value="2">Product Unavailability</option>
                <option value="3">Shipping Issues</option>
                <option value="4">Other</option>
            </select>

        </div>
  

        <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">
            

            <label class="" for="specificSizeSelect">REFUND METHOD:</label>
            <select class="form-select" id="specificSizeSelect">
                <option selected> Original Payment Method


                <option value="1">  Store Credit</option>
                <option value="2"> Other  </option>
            </select>

        </div>

        <div class=" col-sm-12  col-md-4 " style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">REFUND AMOUNT:</label>
            <input type="text" class="form-control" placeholder="enter refund amount">
        </div>

        <div class="  col-md-12 col-sm-12" style="line-height: 2rem;  ">
            <label class="" for="autoSizingInputGroup">NOTES:</label>
            <input type="text" class="form-control" id=" " placeholder="Enter Notes">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end my-2">
            <button class="btn btn-primary me-md-2 Btn_Save" type="button">Save</button>
            <button class="btn btn-primary Btn_Close" type="button">Cancel</button>
        </div>
    </div>
</div>