<div class="container-fluid my-4 ">
    <div class="prant_div">
        <div class="fast_div">
            <div class="super_chaild">
                <mat-icon>density_medium</mat-icon>
                <img src="../../../../../assets/logos/trans.png" alt="" style="height: 40px;">
                <!-- <i class="fa-solid fa-webhook fs-2"></i>&nbsp; -->
                 <!-- <img src="../../../../../assets/logos/reward2.png" alt="" style="height: 50px;"> -->
                <!-- <i class="fa-solid fa-badge-dollar fa-xl fs-1" style="color: #121212;"></i> -->
                <span class="fs-4">Transaction</span>
            </div>
            <div>
                <a class="text_routes" routerLink="/admin"> Dashboard </a>
                <i class="ri-arrow-right-s-line"></i> Transaction
            </div>
        </div>
        <div class="secoand_div">

            <button mat-raised-button matTooltip="Filter.." class="demo-button">
                <!-- <i class="ri-add-line fs-5"></i> -->
                <i class="ri-filter-2-fill"></i>

            </button>
            <button mat-raised-button matTooltip="status" class="demo-button dropdown-toggle mx-2 "
                data-bs-toggle="dropdown" aria-expanded="false">
                <mat-icon>density_medium</mat-icon>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="@wweb">Company Name </a></li>
                <li><a class="dropdown-item" href="#">Company website </a></li>
            </ul>
            <button mat-raised-button class="demo-button ">
                <i class="ri-printer-line fs-5"></i>
            </button>
            <button mat-raised-button matTooltip="Add" class="demo-button ms-2">
                <!-- <i class="ri-filter-2-fill"></i> -->
                <i class="ri-add-line fs-5 "></i>

                <!-- fitter -->
            </button>
        </div>

    </div>
    <hr />
    <mat-form-field style="height: 100%; width: 100%;">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Ex. ium" #input>
    </mat-form-field>
    <div class="card row">
        <div class="col-md-12 col-sm-12 set_scroller">

           

            <table class="table table-hover">
                <thead>
                    <th> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                    <th scope="col" style="text-align: center;">TRANSACTION ID</th>
                    <th scope="col" style="text-align: center;">TRANSACTION DATE</th>
                    <th scope="col" style="text-align: center;">CUSTOMER NAME</th>
                    <th scope="col" style="text-align: center;">TOTAL AMOUNT</th>
                    <th scope="col" style="text-align: center;">PAYMENT METHOD</th>
                    <th scope="col" style="text-align: center;">EMPLOYEE</th>
                </thead>
    
                <tbody>
                    <tr class="text-decoration ">
                        <td> <input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault"></td>
                        <td><span class="card text-center">
                                1011</span></td>
                        <td><span class="card text-center">12345
                            </span></td>
                        <td><span class="card text-center"> ROHAN
                            </span></td>
    
                        <td><span class="card text-center">
                            1000 $
                            </span></td>
    
                        <td><span class="card text-center">CASH
                            </span></td>
                            <td><span class="card text-center">jounu
                            </span></td>
                    </tr>
                    
                    <tr>
                        <td> <input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault"></td>
                        <td><span class="card text-center">
                                2011</span></td>
                        <td><span class="card text-center">36464
                            </span></td>
                        <td><span class="card text-center">REHAI 
                            </span></td>
                        <td><span class="card text-center">
                            2000 $
                            </span></td>
    
                        <td><span class="card text-center">ONLINE
                            </span></td>
    
                            <td><span class="card text-center">Rounu
                            </span></td>
                    </tr>
    
                    <tr>
                        <td> <input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault"></td>
                        <td><span class="card text-center">
                                2011</span></td>
                        <td><span class="card text-center">1256
                            </span></td>
                        <td><span class="card text-center"> SOHAN
                            </span></td>
                        <td><span class="card text-center">
                                3000 $
                            </span></td>
    
                        <td><span class="card text-center">CASH
                            </span>
                        </td>
    
                            <td><span class="card text-center">Sounu
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
         

        </div>
    </div>
    <div class="row my-3 ">
        <div class="prant_div">
            <div class="new_dropdown">
                <div>
                    <div class="input-group mb-3">
                        <button type="button" class="btn btn-outline-secondary">10</button>
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">15</a></li>
                            <li><a class="dropdown-item" href="#">25</a></li>
                            <li><a class="dropdown-item" href="#">50</a></li>
                            <li><a class="dropdown-item" href="#">100</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div class="d-grid ga d-md-flex justify-content-md-end">
                    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-outline-secondary"> 1</button>
                            <button type="button" class="btn btn-outline-secondary">2</button>
                            <button type="button" class="btn btn-outline-secondary">3</button>
                            <button type="button" class="btn btn-outline-secondary">4</button>
                            <button type="button" class="btn btn-outline-secondary">5</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="d-grid ga d-md-flex justify-content-md-end">
                    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-outline-secondary">
                                <i class="fas fa-angle-left"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary">
                                <i class="fas fa-angle-left"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary">
                                <i class="fas fa-angle-right"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary ">
                                <i class="fas fa-angle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>