<div class="container-fluid my-4 ">
    <div class="prant_div">
      <div class="fast_div">
        <div class="super_chaild">
          <mat-icon>density_medium</mat-icon>
        <img src="../../../../../assets/logos/journalentry.png">
          <span class="fs-4"> Journal Entry</span>
        </div>
        <div>
          <a class="text_routes" routerLink="/admin"> Dashboard </a>
          <i class="ri-arrow-right-s-line"></i> Journal Entry
        </div>
      </div>
      <div class="secoand_div">
  
        <button mat-raised-button matTooltip="Filter.." class="demo-button">
            
            <i class="ri-filter-2-fill"></i>

        </button>
        <button mat-raised-button matTooltip="status" class="demo-button dropdown-toggle mx-2 "
            data-bs-toggle="dropdown" aria-expanded="false">
            <mat-icon>density_medium</mat-icon>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="@wweb">Company Name </a></li>
            <li><a class="dropdown-item" href="#">Company website </a></li>
        </ul>
        <button mat-raised-button class="demo-button ">
            <i class="ri-printer-line fs-5"></i>
        </button>
        <button mat-raised-button matTooltip="Add" (click)="add_journal_entryModal()" class="demo-button ms-2">
            <i class="ri-add-line fs-5 "></i>
            <!-- fitter -->
        </button>
    </div>
    </div>
    <hr />
    <mat-form-field style="height: 100%; width: 100%;">
           <mat-label>Search</mat-label>
           <input matInput placeholder="Ex. ium" #input>
    </mat-form-field>
    <div class="card row">
      <div class="col-md-12 col-sm-12" style="overflow: auto;">
        <table class="table table-hover">
            <thead>
                <tr style=" border: none;">
                <th>
                    <span>
                      <input class="form-check-input shif-right " type="checkbox" value="" id="flexCheckDefault">
                    </span>
                  </th>
                <th scope="col" class="text-center text-uppercase">JOURNAL NO.</th>
                <th scope="col" class="text-center text-uppercase">PARTICULARS</th>
                <th scope="col" class="text-center text-uppercase">DEBIT</th>
                <th scope="col" class="text-center text-uppercase">Credit</th>
                <th scope="col" class="text-center text-uppercase">DATE OF JOINING	</th>
                <th scope="col" class="text-center text-uppercase">Status</th>
                <th scope="col" class="text-center text-uppercase">Action</th>
               
                </tr>
            </thead>
<!-- table data from backend -->
<tbody style="text-align: center;">
<tr *ngFor="let e of  JOURNAL_ENTRY ; ">
  <td class="mt-4">
    <span>
      <input class="form-check-input mt-2" type="checkbox" id="flexCheckDefault">
    </span>
  </td>
  <!-- <td>
    <div class="Btn_Close">#VEND00001</div>
  </td> -->
  <td> 

    <div style="width: 140px;" class="text_decoreion p-2 border border-1 rounded ">{{e.JOURNAL_NO}}</div>
  </td>
  <td>
    <div style="width: 140px;" class="text_decoreion p-2 border border-1 rounded ">{{e.PARTICULARS}}</div>
  </td>

  <td>
    <div style="width: 140px;" class="text_decoreion border border-1 rounded p-2 "> {{e.DEBIT |currency}} </div>
  </td>
  <td>
    <div style="width: 140px;" class="text_decoreion border border-1 rounded py-2 px-3">{{e.CREDIT |currency}}
    </div>
  </td>
<!-- balance -->
<td>
<div style="width: 140px;" class="text_decoreion border border-1 rounded py-2  ">{{e.DATE_OF_JOINING}}</div>
</td>
  <td>
    <div style="width: 100px;"><input id="s2" type="checkbox" class="switch mx-2 mt-2 ms-5" checked></div>
  </td>

  <td>
    <div class="parent_div ">
        <div style="cursor: pointer;" class="view_icon" aria-label="Example icon button with a menu icon">
          <i class="ri-eye-line "></i>
        </div>
        <div style="cursor: pointer;" class="add_icon" aria-label="Example icon button with a menu icon">
          <i class="ri-file-text-fill "></i>

        </div>
        <div style="cursor: pointer;" class="print_icon" aria-label="Example icon button with a menu icon">
          <i class="ri-printer-fill "></i>
        </div>
        <div style="cursor: pointer;" class="edit_icon" aria-label="Example icon button with a menu icon">
          <i class="ri-pencil-line "></i>
        </div>

        <div style="cursor: pointer;" class="delete_icon" aria-label="Example icon button with a menu icon">
          <i class="ri-delete-bin-6-line  "></i>
        </div>
        </div>

  </td> 
 
<tr>
<td class="text-center">
  <div style="width: 80px;"  class="text_decoreion border border-1 rounded py-2 r "><h6>Total</h6></div>
  </td>
<td class="text-center">
</td>
<td class="text-center"><div style="width: 140px;"  class="text_decoreion border border-1 rounded py-2 r ">6000.00$</div>
</td>
<td class="text-center">  <div style="width: 140px;"  class="text_decoreion border border-1 rounded py-2 r ">4800.00$</div>
</td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
        </table>
       
      </div>
  
    </div>
   <div class="row my-3 ">
      <div class="prant_div">
        <div class="new_dropdown">
          <div>
            <div class="input-group mb-3">
              <button type="button" class="btn btn-outline-secondary">10</button>
              <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">15</a></li>
                <li><a class="dropdown-item" href="#">25</a></li>
                <li><a class="dropdown-item" href="#">50</a></li>
                <li><a class="dropdown-item" href="#">100</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          <div class="d-grid ga d-md-flex justify-content-md-end">
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-outline-secondary"> 1</button>
                <button type="button" class="btn btn-outline-secondary">2</button>
                <button type="button" class="btn btn-outline-secondary">3</button>
                <button type="button" class="btn btn-outline-secondary">4</button>
                <button type="button" class="btn btn-outline-secondary">5</button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="d-grid ga d-md-flex justify-content-md-end">
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-outline-secondary">
                  <i class="fas fa-angle-left"></i>
                </button>
                <button type="button" class="btn btn-outline-secondary">
                  <i class="fas fa-angle-left"></i>
                </button>
                <button type="button" class="btn btn-outline-secondary">
                  <i class="fas fa-angle-right"></i>
                </button>
                <button type="button" class="btn btn-outline-secondary ">
                  <i class="fas fa-angle-right"></i>
                </button>
              </div>
            </div>
          </div>
         </div>
      </div>
   </div>
  