
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  .demo-button-container {
      padding-bottom: 16px;
  }
    
  .demo-button  {
      margin-left: 8px;
      float: right;
      background-color: #0a1e3c !important;
      color: #FFF  !important;
  
  }
    .example-button {
      margin-top: 16px;
    }
    
    .example-tooltip-uppercase {
      text-transform: uppercase;
    }
   
  .page_name{
    text-align: left;
    text-transform: capitalize;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 11px;
  
  }
  .mani{
    display: inline-block;
  
  }

 
  .coler_mang{
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  
  
   .parent_div {
    display: flex;
    gap: 10px;
   }
 
 
   .pagination_link{
    display: flex;
   
    justify-content: space-between;
    padding: 10px;
   }
   
   .new_dropdown{
    display: flex;
    gap: 10px;
   }

   table {
    width: 80%;
    border-radius: 20% !important;
  }
  
  
  
  
  
  
  
  
  
  