<div class="container">
<h1 class="fs-2" mat-dialog-title><img src="../../../../../assets/submenu/supply-chain2.png" />  Supplier</h1>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Name</label>
                <input type="text" placeholder="Enter Name" class="form-control " />
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Phone Number</label>
                <input type="number" placeholder="Enter Phone Number" class="form-control " />
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Email</label>
                <input type="text" placeholder="Enter Email" class="form-control " />
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">website</label>
                <input type="text" placeholder="Enter WebSite Url" class="form-control " />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Address</label>
                <textarea class="form-control" placeholder="Enter Address"></textarea>
          
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">City</label>
                <input type="text" placeholder="Enter City" class="form-control " />
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label"> State</label>
                <input type="text" placeholder="Enter State" class="form-control " />
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">ZIP Code</label>
                <input type="text" placeholder="Enter ZIP Code" class="form-control " />
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Country</label>
                <input type="text" placeholder="Enter Country" class="form-control "  />
                
            </div>
        </div>
      
       
      
        
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Notes</label>
                <textarea class="form-control " placeholder="Enter Notes"></textarea>
            </div>
        </div>
    </div>

</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <div class=" Btn_Save"  type="button">Save</div>
        <div mat-dialog-close class="Btn_Close" >Cancel</div>
      </div>
</mat-dialog-actions>


</div>