:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.super_chaild{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.colem{
  display: flex;
  align-items: center;
  justify-content: center;
}











