.set_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .color_red{
    color: red;
  }