.c1 {
    background-color: white;
    border-radius: 2%;
   

}

.mani{
    display: inline-block;
  
  }

  .page_name{
    text-align: left;
    
    text-transform: capitalize;
    font-weight: 500;
   display: flex;
   align-items: center;
   gap: 11px;
  
  }

.span1 {
    background-color: #f7e6e6;
    border-radius: 5%;
    color: red;
    padding: 5px;

}

.span2 {
    background-color: #c7dce4;
    border-radius: 5%;
    color: rgb(26, 151, 209);
    padding: 5px;

}

.IMG1 {
    height: 5vh;

}

.IMG2 {
    height: 8vh;
    width: 10vw;
    /* icon action   */
}

.prant_div {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.cut_line {

    height: 35px;
    width: 6px;


}

.add_icon {
    height: 30px;
    width: 30px;
    background-color: #704d7c;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.add_icon i {
    color: #FFF;
}


.print_icon i {
    color: #FFF;
}







.salesicon {
    width: 5vw;
}

.card {
    padding: .5rem;
}


.set_color:hover{
    background-color: #8a8888;
    color: #FFF;
  
}


.form-check-input:checked {
    border-color: green;
    background-color: green;
  }