<div class="container">


    <div class="row my-2">
        <div class="card mt-5">
         
            <div class="mani " >
                <div class="page_name" >
                  <mat-icon>density_medium</mat-icon>
                  <img src="../../../../../assets/submenu/import (1).png" />
                  <span class="fs-3">Import Product</span> 
                </div>
                <div>
                <a class="text_routes" routerLink="/admin"> Dashboard </a><i class="ri-arrow-right-s-line"></i> Import Product
              </div>
            </div>
            <hr/>
            <input type="file" class="form-control form-control-lg" />
 
            <div class="top_mane mt-3">

                <button class="btn btn-primary py-2 px-5">Save</button>
                <a class="btn btn-primary py-2" href="../../../../../assets/import_products.csv" download >Download Sample</a>
            </div>
            <table class="table mt-3 table-bordered">
                <tr >
                    <th class="py-2 px-5 border-start fs-4 border-end">Name</th>
                    <td class="py-2 px-5 border-end fs-5"><span class="set_filed_color">This field is required </span> </td>
                  
                </tr>
                <tr >
                    <th class="py-2 px-5 border-start fs-4 border-end">Product Type</th>
                    <td class="py-2 px-5 border-end fs-5"><span class="set_filed_color"> This field is required</span> </td>
                  
                </tr>
                <tr >
                    <th class="py-2 px-5 border-start fs-4 border-end">Product Price</th>
                    <td class="py-2 px-5 border-end fs-5"><span class="set_filed_color">This field is required </span> </td>
                  
                </tr>
                <tr >
                    <th class="py-2 px-5 border-start fs-4 border-end">Product Cost</th>
                    <td class="py-2 px-5 border-end fs-5"><span class="set_filed_color">  This field is required</span></td>
                  
                </tr>
                <tr >
                    <th class="py-2 px-5 border-start fs-4 border-end">Quantity</th>
                    <td class="py-2 px-5 border-end fs-5"><span class="set_filed_color">  This field is required</span></td>
                  
                </tr>
                <tr >
                    <th class="py-2 px-5 border-start fs-4 border-end">Quantity Limitation</th>
                    <td class="py-2 px-5 border-end fs-5" > <span class="set_filed_color">  This field is required</span></td>
                  
                </tr>
                <tr >
                    <th class="py-2 px-5 border-start fs-4 border-end">Stock Alert</th>
                    <td class="py-2 px-5 border-end fs-5"> <span class="set_filed_color">  This field is required</span></td>
                  
                </tr>

                <tr >
                    <th class="py-2 px-5  border-start fs-4 border-end">Expiry Date</th>
                    <td class="py-2 px-5 border-end fs-5"> <span class="set_filed_color">  This field is required</span></td>
                  
                    
                </tr>
                
                <tr >
                    <th class="py-2 px-5 fs-4 border-start border-end">Barcode </th>
                    <td class="py-2 px-5 border-end fs-5"> <span class="set_filed_color">  This field is required</span>code must be not exist already</td>
                  
                </tr>
                <tr >
                    <th class="py-2 px-5 fs-4 border-start border-end">SKU </th>
                    <td class="py-2 px-5 border-end fs-5"> <span class="set_filed_color">  This field is required</span>code must be not exist already</td>
                  
                </tr>
                <tr >
                    <th class="py-2 px-5 fs-4 border-start border-end">Categories</th>
                    <td class="py-2 px-5 border-end fs-5"> <span class="set_filed_color">  This field is required</span> </td>
                  
                </tr>
                <tr >
                    <th class="py-2 px-5 fs-4 border-start border-end">Unit</th>
                    <td class="py-2 px-5 border-end fs-5"> <span class="set_filed_color">  This field is required</span> unit must already be created Please use full name of unit </td>
                  
                </tr>
                <tr >
                    <th class="py-2 px-5 fs-4 border-start border-end">Brand</th>
                    <td class="py-2 px-5 border-end fs-5"> <span class="Field_optional"> Field optional</span> </td>
                  
                </tr>
                <tr >
                    <th class="py-2 px-5 fs-4 border-start border-end">Description</th>
                    <td class="py-2 px-5 border-end fs-5"> <span class="set_filed_color">  This field is required</span> </td>
                  
                </tr>
                <tr >
                    <th class="py-2 px-5 fs-4 border-start border-end">Tax Type</th>
                    <td class="py-2 px-5 border-end fs-5"> <span class="set_filed_color">  This field is required</span> </td>
                  
                </tr>
                <tr >
                    <th class="py-2 px-5 fs-4 border-start border-end">Product Tax</th>
                    <td class="py-2 px-5 border-end fs-5"> <span class="Field_optional"> Field optional</span> </td>
                  
                </tr>
                

                
            </table>


        </div>
    </div>

</div>


