<div class="container-fluid c1 py-3 ">

    <div class="row">
        <h5>PRODUCT DETAIL:</h5>
        <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">ITEM NO.:</label>
            <input type="text" class="form-control" placeholder="#5412">
        </div>
        <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">


            <label class="" for="specificSizeSelect">NAME OF ITEM:</label>
            <select class="form-select" id="specificSizeSelect">
                <option selected>Item 1</option>
                <option value="1">Item 2</option>
                <option value="2">Item 3</option>
                <option value="3">Item 4</option>
            </select>

        </div>
       
       

        <div class="  col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">QUANTITY:</label>
            <input type="text" class="form-control" placeholder=" Enter Quantity">
        </div>
        <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">PRICE:</label>
            <input type="text" class="form-control" placeholder="20 $">
        </div>
        <div class="  col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">AMOUNT:</label>
            <input type="text" class="form-control" placeholder="Quantity*PRICE">
        </div>

      

        <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">DISCOUNT:</label>
            <input type="text" class="form-control" placeholder="20 $">
        </div>

        <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">TAX:</label>
            <input type="text" class="form-control" placeholder="20 $">
        </div>

        <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">

            <label class="" for="specificSizeSelect">TOTAL:</label>
            <input type="text" class="form-control" placeholder="20 $">
        </div>
 </div>
</div>

<div class=" row c1 py-3 ">
    <h5>PACKAGING:</h5>
            <div class="row">
                <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">
    
    
                    <label class="" for="specificSizeSelect">PAKAGING TYPE:</label>
                    <select class="form-select" id="specificSizeSelect">
                        <option selected>Box       </option>
                        <option value="1">Envelope</option>
                        <option value="2">Bubble Mailer</option>
                        <option value="3">Other</option>
    
                 
    
                    </select>
    
                </div>
    
                <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">
    
    
                    <label class="" for="specificSizeSelect">PAKAGING CONDITION:</label>
                    <select class="form-select" id="specificSizeSelect">
                        <option selected> New </option>
    
    
                        <option value="1">Like New</option>
                        <option value="2"> Used </option>
    
    
                       
    
                    </select>
    
                </div>
    
            </div>
        </div>
    
        <div class=" c1 py-3 ">
            <div class="row">
                <h5>SHIPPING METHOD:</h5>
                <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">
    
    
                    <label class="" for="specificSizeSelect">SHIPPING SERVICE:</label>
                    <select class="form-select" id="specificSizeSelect">
                        <option selected>Standard       </option>
                        <option value="1">Expedited</option>
    
    
                 
    
                    </select>
    
                </div>
    
                <div class=" col-md-4 col-sm-12" style="line-height: 2rem;  ">
    
                    <label class="" for="specificSizeSelect">TRACKING NUMBER:</label>
                    <input type="text" class="form-control" placeholder="No">
                </div>
    
                
            </div>
    
    
           
        </div>

        <div class=" c1 py-3 ">
            <div class="row">
                <h5>DOCUMENTATION:</h5>
                <div class=" col-sm-12  col-md-4 " style="line-height: 2rem;  ">
    
                    <label class="" for="specificSizeSelect">INCLUDE PACKING SLIP:</label>
                    <select class="form-select" id="specificSizeSelect">
                        <option selected>Yes    </option>
                            <option value="1">No</option>
    
    
                    
    
                    </select>
                </div>
    
                <div class=" col-sm-12  col-md-4 " style="line-height: 2rem;  ">
    
                    <label class="" for="specificSizeSelect">INCLUDE INVOICE:</label>
                    <select class="form-select" id="specificSizeSelect">
                        <option selected>Yes         </option>
                        <option value="1">No</option>
    
    
               
    
                    </select>
                </div>
             
                <div class=" col-sm-12  col-md-4 " style="line-height: 2rem;  ">
    
                    <label class="" for="specificSizeSelect">PRODUCT INSPECTION:</label>
                    <select class="form-select" id="specificSizeSelect">
                        <option selected> Checked for defects    </option>
                            <option value="1">Verified against order details</option>
                            <option value="1">Quality control passed</option>
    
                    
    
                    </select>
                </div>
    
                <div class="  col-md-12 col-sm-12" style="line-height: 2rem;  ">
                    <label class="" for="autoSizingInputGroup">NOTES:</label>
                    <input type="text" class="form-control" id=" " placeholder="Enter Notes">
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end my-2">
                    <button class="Btn_Save" type="button">Save</button>
                    <button class="Btn_Close" type="button">Cancel</button>
                </div>
            </div>
        </div>
