<div class="container-fluid my-4 ">
    <div class="prant_div">
        <div class="fast_div">
            <div class="super_chaild">
                <mat-icon>density_medium</mat-icon>
                <i class="fa-duotone fa-sack-dollar fa-2xl fs-1" style="--fa-primary-color: #0d0d0d; --fa-secondary-color: #0a0a0a;"></i>
                <!-- <img src="../../../../../assets/logos/refund.png" alt="" style="height: 50px;"> -->
                <!-- <i class="fa-solid fa-webhook fs-2"></i>&nbsp; -->
                 <!-- <img src="../../../../../assets/logos/reward2.png" alt="" style="height: 50px;"> -->
                <!-- <i class="fa-solid fa-badge-dollar fa-xl fs-1" style="color: #121212;"></i> -->
                <span class="fs-4">Cashlog</span>
            </div>
            <div>
                <a class="text_routes" routerLink="/admin"> Dashboard </a>
                <i class="ri-arrow-right-s-line"></i> Cashlog
            </div>
        </div>
        <div class="secoand_div">
  
            <button mat-raised-button matTooltip="Filter.." class="demo-button">
                <!-- <i class="ri-add-line fs-5"></i> -->
                <i class="ri-filter-2-fill"></i>
  
            </button>
            <button mat-raised-button matTooltip="status" class="demo-button dropdown-toggle mx-2 "
                data-bs-toggle="dropdown" aria-expanded="false">
                <mat-icon>density_medium</mat-icon>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="@wweb">Company Name </a></li>
                <li><a class="dropdown-item" href="#">Company website </a></li>
            </ul>
            <button mat-raised-button class="demo-button ">
                <i class="ri-printer-line fs-5"></i>
            </button>
            <button mat-raised-button matTooltip="Add" class="demo-button ms-2">
                <!-- <i class="ri-filter-2-fill"></i> -->
                <i class="ri-add-line fs-5 "></i>
  
                <!-- fitter -->
            </button>
        </div>
  
    </div>
    <hr />
    <mat-form-field style="height: 100%; width: 100%;">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Ex. ium" #input>
    </mat-form-field>
    <div class="card row">
        <div class="col-md-12 col-sm-12 set_scroller">
  
            <table class=".container-fluid table table-hover ">
                <thead>
                    <th> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
                    <!-- <th scope="col" style="text-align: center; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"></th> -->
                    <th scope="col" style="text-align: center;">DATE  & TIME</th>
               
                    <th scope="col"
                        style="text-align: center; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                        TRANSACTION TYPE
                    </th>
                    <th scope="col" style="text-align: center;">AMOUNT</th>
                    <th scope="col" style="text-align: center;">DETAILS</th>
                    <th scope="col" style="text-align: center;">LOCATION</th>
                    <th scope="col" style="text-align: center;">EMPLOYEE</th>
                    <th scope="col" style="text-align: center;">REGISTER</th>
                    <th scope="col" style="text-align: center;">REFERENCE</th>
                    <!-- <th scope="col" style="padding-left: 3rem;">ACTIONS</th> -->
    
                </thead>
                <tbody>
                    <tr class="text-decoration ">
                        <td> <input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault"></td>
                        <!-- <td><span class="card text-center">
                                1011</span></td> -->
                        <td><span class="card text-center">2023-11-04 10:30 AM
                            </span></td>
                        <!-- <td><span class="card text-center">
                            </span></td> -->
    
                        <td><span class="card text-center">
                                Cash In
                            </span></td>
    
                        <td><span class="card text-center">
                                $500.00
                            </span>
                        </td>
                        <td><span class="card text-center">
                                Opening balance
                            </span>
                        </td>
                        <td><span class="card text-center">
                                Main Store
                            </span>
                        </td>
    
                        <td><span class="card text-center">
                                John Doe
                            </span>
                        </td>
                        <td><span class="card text-center">
                                1
                            </span>
                        </td>
                        <td><span class="card text-center">
                                Deposit #12345
                            </span>
                        </td>
    
                    <tr>
                        <td> <input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault"></td>
                        <!-- <td><span class="card text-center">
                                1012</span></td> -->
                        <td><span class="card text-center">2023-11-06 10:50 AM
                            </span></td>
                        <!-- <td><span class="card text-center">10:50 AM
                            </span></td> -->
    
                        <td><span class="card text-center">
                                Cash In
                            </span></td>
    
                        <td><span class="card text-center">
                                $800.00
                            </span>
                        </td>
                        <td><span class="card text-center">
                                Opening balance
                            </span>
                        </td>
                        <td><span class="card text-center">
                                Main Store
                            </span>
                        </td>
    
                        <td><span class="card text-center">
                                Johni
                            </span>
                        </td>
                        <td><span class="card text-center">
                                2
                            </span>
                        </td>
                        <td><span class="card text-center">
                                Deposit #1239
                            </span>
                        </td>
                       
                            
                    </tr>
    
                    <tr>
                        <td> <input class="form-check-input mt-2" type="checkbox" value="" id="flexCheckDefault"></td>
                        <!-- <td><span class="card text-center">
                                1013</span></td> -->
                        <td><span class="card text-center">2023-11-08 11:30 AM
                            </span></td>
                            <!-- <td><span class="card text-center">11:30 AM
                                </span></td> -->
    
                        <td><span class="card text-center">
                                Cash In
                            </span></td>
    
                        <td><span class="card text-center">
                                $900.00
                            </span>
                        </td>
                        <td><span class="card text-center">
                                Opening balance
                            </span>
                        </td>
                        <td><span class="card text-center">
                                Main Store
                            </span>
                        </td>
    
                        <td><span class="card text-center">
                                Johnu
                            </span>
                        </td>
                        <td><span class="card text-center">
                                3
                            </span>
                        </td>
                        <td><span class="card text-center">
                                Deposit #1235
                            </span>
                        </td>
    
                       
                    </tr>
                </tbody>
            </table>
  

        </div>
    </div>
    <div class="row my-3 ">
        <div class="prant_div">
            <div class="new_dropdown">
                <div>
                    <div class="input-group mb-3">
                        <button type="button" class="btn btn-outline-secondary">10</button>
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">15</a></li>
                            <li><a class="dropdown-item" href="#">25</a></li>
                            <li><a class="dropdown-item" href="#">50</a></li>
                            <li><a class="dropdown-item" href="#">100</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div class="d-grid ga d-md-flex justify-content-md-end">
                    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-outline-secondary"> 1</button>
                            <button type="button" class="btn btn-outline-secondary">2</button>
                            <button type="button" class="btn btn-outline-secondary">3</button>
                            <button type="button" class="btn btn-outline-secondary">4</button>
                            <button type="button" class="btn btn-outline-secondary">5</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="d-grid ga d-md-flex justify-content-md-end">
                    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-outline-secondary">
                                <i class="fas fa-angle-left"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary">
                                <i class="fas fa-angle-left"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary">
                                <i class="fas fa-angle-right"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary ">
                                <i class="fas fa-angle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>