  
  <div class="container">
    <div  class="demo-button mx-3">

      <button mat-raised-button >
        Create Departments
      </button>
    </div>
    <div class="row my-5">
        <mat-form-field>
            <mat-label>Serceh</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="find out" #input>
          </mat-form-field>
          
          <div class="mat-elevation-z8 set_scroller">
            <table mat-table [dataSource]="dataSource" matSort>
          
   
              <ng-container matColumnDef="id">
                <th class="tex" mat-header-cell *matHeaderCellDef mat-sort-header> Selection box </th>
                <td class="text-center"  mat-cell *matCellDef="let row"> <input type="checkbox" /></td>
              </ng-container>
          
              <ng-container matColumnDef="warehouse">
                <th class="tex" mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
                <td  mat-cell *matCellDef="let row"> {{row.name}}% </td>
              </ng-container>
          
             
              <ng-container matColumnDef="phone_number">
                <th class="tex" mat-header-cell *matHeaderCellDef mat-sort-header>  Status  </th>
                <td   mat-cell *matCellDef="let row"> 
                  <mat-slide-toggle color="primary" 
              
                  [checked]="allComplete"
                  ></mat-slide-toggle>  
                </td>
              </ng-container>
          
        
            
              <ng-container matColumnDef="action">
                <th class="tex" mat-header-cell *matHeaderCellDef mat-sort-header> action </th>
                <td mat-cell *matCellDef="let row"> 
                  <button mat-icon-button color="primary" 
          
                  matTooltip="Edit"
                  matTooltipClass="example-tooltip-uppercase"
                  aria-label="Button that shows a red tooltip"
                  class="example-button"
                  
                   aria-label="Example icon button with a home icon">
                   <i class="fa-solid fa-pen" style="color: #0a1e3c;"></i>
                </button>
                <button mat-icon-button
                 color="accent" 
                 matTooltip="Delete"
                 matTooltipClass="example-tooltip-uppercase"
                 aria-label="Button that shows a red tooltip"
                 class="example-button"
                
                 aria-label="Example icon button with a menu icon">
                 <i class="fa-regular fa-trash-can" style="color: #0a1e3c;"></i>
                </button>  
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
    </div>
  </div>
  
 
  
  