<div class="main_footer ">
    <div class="d-flex align-items-center " style="gap: 4px;">
          <span><i class="ri-copyright-line"></i>  {{copyyear |date : "yyyy"}}</span>
     
      <span>LOENEX CO. All Rights Reserved.</span>

    
    </div>
    <div >
        <img  src="../../../../../assets/avter/verified-user.png" />
                   <span>Admin</span> 
             <span class="mx-4"> <i class="ri-login-circle-line fs-5"></i> Login :  {{copyyear |date : "short"}}</span> 
           </div>
              
<div class="d-flex align-items-center">
  
    <div class=" main_div">
    
        <div class="main_div" target="_blank" href="https://www.facebook.com/profile.php?id=100091885470079&mibextid=ZbWKwL"><i class="ri-facebook-fill"></i></div>
        <a class="main_div" target="_blank" href="https://www.instagram.com/loenex.us/?igshid=MzRlODBiNWFlZA%3D%3D"><i class="ri-instagram-line"></i></a> 
        <a class="main_div" target="_blank" href="https://x.com/Loenex_us?t=j3BFvxD4qmiETCNqy-ac7g&s=09"><i class="ri-twitter-fill"></i></a>
        <a class="main_div" target="_blank" href="https://www.youtube.com/@LOENEX_US"><i class="ri-youtube-fill"></i></a>
    
    </div>
</div>







</div>