<div class="container-fluid c1 py-5 my-2 px-5">
    <div>
        <div>

            <button type="button" class="btn-close float-end"
                aria-label="Close"></button>
        </div>
        <h3>


            <i class="fa-regular fa-scanner-touchscreen"></i>
            Scan a Box
        </h3>
        <hr>
        <!-- modal-2  button start -->

    </div>
   
    <div class="card" >
        <div class="d-md-flex justify-content-md-center mt-4"
            href="#myModal2" >

            <div class="border d-md-flex" style="height: 2rem; width: 15rem; ">
                <div style="height: 2rem; width: 2rem; background-color: black; ">
                    &nbsp;
                    <i class="fa-regular fa-magnifying-glass text-white mt-2"></i>
                </div>
                <p style="margin-left: 0.5rem;">Search...</p>
                <i class="fa-duotone fa-barcode-read mt-1"
                    style="font-size: 1.5rem;margin-left: 7rem; "></i>
            </div>

            <!-- <input type="text" class="form-control mt-2 " data-bs-toggle="modal"
        href="#myModal2"style="width: 15vw;"
            placeholder=""> -->


        </div>
        <div class="mt-5 text-center mb-3 mx-5">
            <button type="button" class="btn btn-outline-dark ms-2 ">Display</button>
            <button class="btn px-4 py-2 bg-black text-white ms-2" type="button">Update</button>
            <button type="button" class="btn btn-outline-dark ms-2">Cancel</button>
        </div>
   
    </div>
</div>