 <div class="container-fluid my-4">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-12" >
        <div class="card l-bg-cherry border-0">
            <div class="card-statistic-3 p-4">
                <div class="card-icon  card-icon-large mt-3">
                   
                    <i class="ri-shopping-cart-fill  p-3  "></i>
                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0">Branches</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0"> 3,243 </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span>12.5% <i class="ri-arrow-up-line"></i></span>
                    </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar l-bg-warning  bg-success  progress-bar-animated" role="progressbar" data-width="25%"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-12" >
        <div class="card l-bg-blue-dark border-0">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large mt-3">
          
                    <i class="ri-team-fill p-3 "></i>
                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0"> Today's Revenue</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0"> 15.07k </h2>
                    </div>
                    <div class="col-4 text-right"> <span>9.23% <i class="ri-arrow-up-line"></i></span> </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar l-bg-success bg-warning progress-bar-animated" role="progressbar" data-width="25%"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                    
                </div>
            </div>
        </div>
      </div> 
      <div class="col-sm-6 col-md-4 col-12" > 
        <div class="card l-bg-green-dark border-0">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large mt-3">
                  
                    <i class="ri-shopping-bag-fill"></i>
                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0">Today's Expenses</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0"> 578 </h2>
                    </div>
                    <div class="col-4 text-right"> <span>10% <i class="ri-arrow-up-line"></i></span> </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar  bg-primary progress-bar-animated" role="progressbar" data-width="25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
      </div> 
      <div class="col-sm-6 col-md-4 col-12" >
        <div class="card l-bg-orange-dark border-0">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large mt-3">
          
                    <i class="ri-money-dollar-circle-fill p-3"></i>
                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0">Employees</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0"> $11.61k </h2>
                    </div>
                    <div class="col-4 text-right"> <span>2.5% <i class="ri-arrow-up-line"></i></span> </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar  bg-warning progress-bar-animated" role="progressbar" data-width="25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-12" >
        <div class="card l-bg-sky border-0">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large mt-3">
              
                    <i class="ri-git-repository-fill p-3"></i>
                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0">Top Sales</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0"> 15.07k </h2>
                    </div>
                    <div class="col-4 text-right"> <span>9.23% <i class="ri-arrow-up-line"></i></span> </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar bg-secondary progress-bar-animated" role="progressbar" data-width="25%"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-12" >
        <div class="card l-bg-red border-0">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large mt-3">
                    <!-- <i class="fas fa-ticket-alt p-3"></i> -->
                    <i class="ri-swap-fill p-3"></i>
                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0">Total Phurachase</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0"> 688 </h2>
                    </div>
                    <div class="col-4 text-right"> <span>10% <i class="ri-arrow-up-line"></i></span> </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar bg-info progress-bar-animated" role="progressbar" data-width="25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
      </div> 
      <div class="col-sm-6 col-md-4 col-12" >
        <div class="card l-bg-orange_light border-0">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large mt-3">
                 
                    <i class="ri-wallet-line"></i>
                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0"> Partners</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0"> 3,243 </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span>12.5% <i class="ri-arrow-up-line"></i></span>
                    </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar bg-dark progress-bar-animated" role="progressbar" data-width="25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-12" >
        <div class="card l-bg-orange_green border-0">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large mt-3">
           
                    <i class="ri-shopping-bag-line p-3"></i>

                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0">Less Sales</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0"> 15.07k </h2>
                    </div>
                    <div class="col-4 text-right"> <span>9.23% <i class="ri-arrow-up-line"></i></span> </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar bg-success progress-bar-animated" role="progressbar" data-width="25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-12" >
        <div class="card  l-bg-orange_pink">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large">
                    <i class="ri-bank-card-fill p-3"></i>
                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0"> Total Sales</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0">758 </h2>
                    </div>
                    <div class="col-4 text-right"> <span>10% <i class="ri-arrow-up-line"></i></span> </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar bg-warning progress-bar-animated" role="progressbar" data-width="25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-12" >
        <div class="card l-bg-pink1 border-0">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large mt-3">
                    <i class="ri-school-fill p-3"></i>
                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0">Account Balance</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0"> 2,593 </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span>12.5% <i class="ri-arrow-up-line"></i></span>
                    </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar bg-info progress-bar-animated" role="progressbar" data-width="25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
      </div> 
     
      <div class="col-sm-6 col-md-4 col-12" >
          <div class="card l-bg-light_green ">
              <div class="card-statistic-3 px-2 py-4">
                  <div class="card-icon card-icon-large mt-3">
                  
                      <i class="ri-reserved-line p-3"></i>
                  </div>
                  <div class="mb-4">
                      <h5 class="card-title mb-0">Customers</h5>
                  </div>
                  <div class="row align-items-center mb-2 d-flex">
                      <div class="col-8">
                          <h2 class="d-flex align-items-center mb-0"> $11.61k </h2>
                      </div>
                      <div class="col-4 text-right"> <span>2.5% <i class="ri-arrow-up-line"></i></span> </div>
                  </div>
                  <div class="progress mt-1 " data-height="8" style="height: 8px;">
                      <div class="progress-bar bg-primery progress-bar-striped progress-bar-animated" role="progressbar" data-width="25%" aria-valuenow="25"
                          aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                  </div>
              </div>
          </div>
         
      </div>
     
      <div class="col-sm-6 col-md-4 col-12" >
        <div class="card l-bg-orange_red border-0">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large mt-3">
                    <!-- <i class="fas fa-dollar-sign p-3"></i> -->
                    <i class="ri-clapperboard-line p-3"></i>
                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0">Suppliers</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0"> $22.52k </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span>2.5%
                            <i class="ri-arrow-up-line"></i>
                        </span>
                    </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar bg-secondary progress-bar-animated" role="progressbar" data-width="25%"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
      </div> 
      <div class="col-sm-6 col-md-4 col-12" >
        <div class="card l-bg-pink2 border-0">
            <div class="card-statistic-3 p-4 ">
                <div class="card-icon card-icon-large mt-3">
                    <i class="ri-slideshow-2-fill p-3"></i>
                    <!-- <i class="fas fa-shopping-cart  p-3"></i> -->
                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0">Vendors</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0"> 8,242 </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span>12.5% <i class="ri-arrow-up-line"></i></span>
                    </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar bg-warning progress-bar-animated" role="progressbar" data-width="25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
      </div> 
      <div class="col-sm-6 col-md-4 col-12" >
        <div class="card l-bg-light_blue border-0">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large mt-3">
                  
                    <i class="ri-store-line p-3"></i>
                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0"> In Stock </h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0"> $11.61k </h2>
                    </div>
                    <div class="col-4 text-right"> <span>2.5% <i class="ri-arrow-up-line"></i></span> </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar bg-danger progress-bar-animated" role="progressbar" data-width="25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
      </div> 
      <div class="col-sm-6 col-md-4 col-12" >
        <div class="card l-bg-orange_red1 border-0">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large mt-3">
                    <!-- <i class="fas fa-dollar-sign p-3"></i> -->
                    <i class="ri-mail-line mt-3 p-3"></i>
                  
                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0">Out of Stock</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0"> $32.72k </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span>2.5%
                            <i class="ri-arrow-up-line"></i>
                        </span>
                    </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar bg-secondary progress-bar-animated" role="progressbar" data-width="25%"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
      </div> 
      <div class="col-sm-6 col-md-4 col-12" >
        <div class="card l-bg-pink3 border-0">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large mt-3">
                    <i class="ri-file-line p-3"></i>
                    <!-- <i class="fas fa-shopping-cart  p-3"></i> -->
                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0 text-light">Stagnant Products</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-light"> 3,243 </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-light">12.5% <i class="ri-arrow-up-line text-light"></i></span>
                    </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar bg-info progress-bar-animated" role="progressbar" data-width="25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
      </div> 
      <div class="col-sm-6 col-md-4 col-12" >
        <div class="card l-bg-light_skyblue border-0">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large mt-3">
            
                    <i class="ri-map-fill p-3"></i>
                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0"> Expiry Products </h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0"> $32.11k </h2>
                    </div>
                    <div class="col-4 text-right"> <span>2.5% <i class="ri-arrow-up-line"></i></span> </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar bg-success progress-bar-animated" role="progressbar" data-width="25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
      </div> 

      <div class="col-sm-6 col-md-4 col-12" > 
        <div class="card l-bg-green-dark border-0">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large mt-3">
                  
                    <i class="ri-shopping-bag-fill"></i>
                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0">Branches | Stores</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0"> 578 </h2>
                    </div>
                    <div class="col-4 text-right"> <span>10% <i class="ri-arrow-up-line"></i></span> </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar  bg-primary progress-bar-animated" role="progressbar" data-width="25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
      </div> 




      <div class="col-sm-6 col-md-4 col-12" >
        <div class="card l-bg-light_skyblue1 border-0">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large mt-3">
                  
                    <i class="ri-lifebuoy-fill p-3"></i>
                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0">TODAY'S DISCOUNT </h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0"> $8.61k </h2>
                    </div>
                    <div class="col-4 text-right"> <span>2.5% <i class="ri-arrow-up-line"></i></span> </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar bg-primery progress-bar-animated" role="progressbar" data-width="25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
      </div> 
      <div class="col-sm-6 col-md-4 col-12" >
        <div class="card l-bg-pink4 border-0">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large mt-3">
                    <i class="ri-reserved-line p-3"></i>
                   
                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0 text-light">Branch Transfers</h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-light"> 2,185 </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-light">12.5% <i class="ri-arrow-up-line text-light"></i></span>
                    </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar bg-info progress-bar-animated" role="progressbar" data-width="25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
      </div> 
      <div class="col-sm-6 col-md-4 col-12" >
        <div class="card l-bg-light_skyblue2 border-0">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large mt-3">
              
                    <i class="ri-basketball-line p-3"></i>
                </div>
                <div class="mb-4">
                    <h5 class="card-title mb-0"> Production Lines </h5>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0"> $63.52k </h2>
                    </div>
                    <div class="col-4 text-right"> <span>2.5% <i class="ri-arrow-up-line"></i></span> </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 8px;">
                    <div class="progress-bar bg-success progress-bar-animated" role="progressbar" data-width="25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
      </div> 
    </div> 
 </div> 

    

      
     
      
 
      
     








